<!DOCTYPE html>
<html lang="en">

<%- include('../components/head') %>

<body>

  <div class="container navbar-padding col-xl-4 col-lg-5 col-md-6 col-sm-8">
    <div class="card card-nav-tabs">
      <div class="card-header card-header-danger">
        <h3 class="card-title">
          <i class="fas fa-virus"></i> Deteksi Mandiri COVID-19
        </h3>
      </div>
      <div class="card-body">

        <form method="POST" action="/deteksi/data-diri">
          <div class="form-group">
            <label class="bmd-label-floating" for="nama">Nama</label>
            <input name="nama" type="text" class="form-control" autocomplete="off">
          </div>
          <div class="form-group">
            <label class="bmd-label-floating" for="alamat">Alamat</label>
            <input name="alamat" type="text" class="form-control" autocomplete="off">
          </div>
          <div class="form-group">
            <label class="bmd-label-floating" for="no">Nomor HP</label>
            <input name="no" type="text" class="form-control" autocomplete="off">
          </div>
          <div class="text-right">
            <a href="javascript:history.back()">
              <button type="button" class="btn"><i class="fas fa-chevron-left"></i> Kembali</i></button>
            </a>
            <button type="submit" class="btn btn-danger">Selanjutnya <i class="fas fa-chevron-right"></i></button>
          </div>
        </form>
        
      </div>
    </div>

  </div>

  <%- include('../components/footer') %>
  <%- include('../components/scripts') %>
</body>

</html>